<div class="header">
  <!-- LEFT -->
  <!-- <div class="left"> -->
    <!-- <span class="menu-icon material-icons">menu</span> -->
    <!-- <span class="menu-icon material-icons" (click)="onMenuClick()">menu</span>
    <h3>Dashboard</h3>
  </div> -->
    <div class="left">
    <span class="menu-icon material-icons" (click)="onMenuClick()">menu</span>
    <!-- <h2 class="title">{{ title }}</h2> -->
  </div>

  <!-- RIGHT -->
  <div class="right">
    <div class="search">
      <input type="text" placeholder="Search..." />
      <span class="material-icons">search</span>
    </div>

    <span class="material-icons icon">notifications</span>

    <div class="profile">
      <span class="material-icons">account_circle</span>
      <span>Vishnu</span>
    </div>
  </div>
</div>
